black == 20.8b1
isort == 5.6.4
bump2version == 0.5.11
coverage == 5.3
doc8 == 0.8.1
flake8 == 3.8.4
flake8-docstrings == 1.5.0
packaging == 20.4
pip == 19.2.3
pre-commit == 2.8.2
pytest == 6.1.2
pytest-cov == 2.10.1
tox == 3.20.1
virtualenv == 20.1.0
wheel == 0.33.6
psutil == 5.7.3
mkdocs == 1.1.2
mkdocs-include-markdown-plugin==1.0.0
mkdocs-material==6.1.7
mkdocstrings>=0.13
mkdocs-material-extensions==1.0.1

# this will refer to `requirements` section defined in setup.py
.
